@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppin', sans-serif;
  }

  :root{
    --bg-color:#ffffff;
    --second-bg-color: #010101;
    --third-bg-color:#cb6869;
    --text-color: #010101;
    --main-color: #592e6d;
  }

  .header{
    margin-top: 0px;
    margin-bottom: 0px;
    /* position: fixed; */

    position: sticky;
    
    top: 0;
    width: 100%;
    /* padding: 2rem 9%; */

    padding: .2rem 9%;
    /* background: transparent; */
    background: #ffffff;
    /* background: rgba(255, 255, 255, 0.7); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    

  }

  a {
    text-decoration: none;
  }

  nav a {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--text-color);
  
    font-weight: 600;
    margin-left:3.5rem;
    transition: .3s;
  }


  .navbar a:hover, .navbar a.active{
    color: var(--third-bg-color) ;
  } 

  #menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
  }


  .logo {
    width: 170px;
    cursor: pointer;
    
  }


  html{
    font-size: 62.5%;
    overflow-x: hidden;
  }

  body{
    background: var(--bg-color);
    color: var(--text-color);
  }
 
  .hello_Title {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
  .container_animation {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#20a7d8;
  }
  .second div {
    background-color:#CD921E;
  }
  .third div {
    background-color:#c10528;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  
  
  .home-content{
    color: var(--text-color);
  }

    
  .home-content h1,p{
    color: var(--second-bg-color);
  }
  
  section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
  }

  /* Updated CSS for creating a rectangle on the right side */
.rectangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%; 
  height: 100%;
  background-image: url('images/mountain3.jpg'); /*no slash*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}



/* Import Google Fonts and other global styles */

/* Rest of your CSS styles */

/* Media query for smaller screens */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .rectangle {
    position: relative; /* Reset the position */
    width: 100%;
    background-image: url('images/mountain3.jpg'); /*update*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto; /* Allow the image to scale with the width */
    z-index: 1
  }

  .home-content {
    padding-top: 1rem; /* Add some top padding to push content below the image */
  }
}



  .home{
  
    display: flex;
    align-items: center;
    padding: 0 9%;
    /* background-image: url('/images/mountain3.jpg');
    background-size: cover;  */
    /* background-repeat: no-repeat; 
    background-position: center center; */
  }
  .home-content{
    max-width: 60rem;
  }

  .home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
  }
  .home-content .text-animate{
    position: relative;
    width: 32.8rem;
  }
  .home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    margin-bottom: 1.6rem;
  }
  .home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    flex: 1;
  }

  
  
  .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
  }

  .button {
    display: inline-block;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--main-color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--third-bg-color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
     height: 410px;
    width: 410px;
     
   }
   
   .button:hover, .button a:hover {
    color: rgb(255, 255, 255);
   }
   
   .button:active {
    filter: brightness(.8);
   }



   .btn-box-all{
    /* position: relative; */
    display: flex;
    align-items: center;
   
    
  
  }



   .about{
    background-color: aqua;
   }

   

   /* css for portfolio section */
   .profession-container{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 768px;
      height:768px;
   
      overflow: hidden;
      pointer-events: none;

   }

   /* .home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width:768px;
    height: 768px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   } */

   .home .profession-box .profession{
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: var(--bg-color);

   }
   
   .home .profession{
    font-size: 16rem;
   }

   /* .shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--third-bg-color);
    border-right: 384px solid var(--third-bg-color);
    border-bottom: 384px solid var(--third-bg-color);
    border-left: 384px solid transparent;
    border-style: solid; 
   } */

   /* start of css for about me section */

   .about{
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 6rem;
   }

   .heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
   }

   span{
    color: var(--third-bg-color)
   }

   .about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .about-img img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid var(--third-bg-color);
   }

   .about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--third-bg-color);
    border-right: .2rem solid var(--third-bg-color);

   }

   .about-content .center-button{
    text-align: center;
   }

   .about-content h3{
    font-size: 2.6rem;
    text-align: center;
   }

   .about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
   }

   .btn-box.btns{
    display: inline-block;
    /* width: 15rem;  */
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    /* color: var(--main-color); */
    
    z-index: 1;

   }

   .btn-box.btns:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
  }

  .btn-box.btns:active {
    opacity: 0.7;
  }

    

   /* end of css for about me section */


   /* Education */

   .education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;


   }

   .education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
   }

   .education-row .education-column{
    flex: 1 1 40rem;

   }

   .education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
   }

   .education-column .education-box{
    border-left: .2rem solid var(--third-bg-color);
   }

   .education-box .education-content{
    position: relative;
    padding-left: 2rem;
   }

   .education-box .education-content::before{
    content: '';
   position: absolute;
    top: -1rem;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--third-bg-color);
    border-radius: 50%;
 }

   .education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--third-bg-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
    
   }

   .education-content .content::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      
      background: var(--third-bg-color);
      z-index: -1;
      transition: .5s;
   }

   .education-content .content:hover::before{
      
      width: 100%;
   }

  

   .education-content .content .year{
    font-size: 1.5rem;
    color: var(--third-bg-color);
    padding-bottom: .5rem;
    transition: color 0.5s;
    
   }

   .education-content .content:hover .year {
    color: white; 
  }

   

   .education-content .content .year i {
    padding-left: .5rem;
   }

   .education-content .content h3{
    font-size: 2rem;
    transition: color 0.5s;
   }

   

   .education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
    transition: color 0.5s;
   }

   .education-content .content:hover h3{
    color: white;
   }

   .education-content .content:hover p{
    color: white;
   }
 



   /* css for portfolio section */
   .portfolio{
    min-height: auto;
    padding: 3rem; 
   }
   .portfolio h2{
    margin-bottom: 5rem;

   }
   .portfolio .works-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

   }

   .works-container .works-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--second-bg-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);


 
   }

   .works-box i{
    font-size: 7rem;
    color: var(--text-color);
   }

    .works-box h3{
      font-size: 2.6rem;
    }

    .works-box:hover h3{
      color: var(--third-bg-color);
    }

    .works-box p{
      font-size: 1.6rem;
      margin: 1rem 0 3rem;
    }
   


    

  /* Responsive menu */

  @media (max-width: 1200px){
    html{
      font-size: 55%;
    }
  }
  
  @media (max-width:991px){
    .header{
      padding: 2rem 4%;
    }
  
   
  
    .home{
      padding: 0 4%;
    }
  }

  @media (max-width: 768px){
    .header{
      background-color: var(--bg-color);

    }


    #menu-icon{
      display: block;
    }

    .navbar{
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem 4%;
      background-color: var(--third-bg-color);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
      z-index: 1;
      transition: .25s ease;
      transition-delay: .25s;
    }

    .navbar.active{
      
      left: 0;
      transition-delay: 0s ;

    }

    .navbar .active-nav{
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0,0,0,.2) ;
      z-index: -1;


    }

    .navbar.active .active-nav{
      left: 0;
      transition-delay: .25s;
    }

    .navbar a{
      display: block;
      font-style: 2rem;
      margin: 3rem 0;
      transform: translateX(-20rem);
      transition: .25s ease;
      transition-delay: 0s;
    }

    .navbar.active a{
      transform: translateX(0);
      transition-delay: .25s ;

    }
  }

.contact{
  margin-top: 10rem;
  min-height: auto;
  padding-bottom: 7rem;

}
.contact form{
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;



}

.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--main-color);
  background-color: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}


.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  
  background-color: var(--main-color);

}

 
.footer-text p{
  color: #ffffff;
  font-size: 1.6rem;
  display: inline;
}

.footer-iconTop a{
 
  position: relative;
  /* display: inline-block;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--bg-color);
  border: .2rem solid var(--bg-color);
  border-radius: .6rem; */
}

.footer-iconTop a::before{
  content: '';
  position: absolute;

}

.footer-iconTop a i{
  font-size: 2.4rem;
  color: var(--second-bg-color);
}


/* .social-media i{
  display: flex;
  position: relative;
  
  justify-content: center;
  align-items: center;
  padding: .8rem;
  gap: 10rem;


} */


.footer-icons {
  display: flex;
 
  gap: 1rem; /* Adjust this value to control the spacing between icons */
  justify-content: center;
  align-items: center;
}



.socials-icons a {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  margin-top: 3rem;
  
 
}

.socials-icons a i {
  font-size: 5rem;
  color: var(--second-bg-color);
  
}

/* Add these styles to control the hover and active states of icons */
.socials-icons a i:hover {
 color: var(--main-color);
  /* color: white; */
}

.socials-icons a i:active {
  opacity: 0.7;
}


/* Footer icons */
.footer-icons a {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  
  /* background: var(--bg-color);
  border: .2rem solid var(--bg-color);
  border-radius: 50%;  */
}

.footer-icons a i {
  font-size: 5rem;
  color: var(--bg-color);
  
}

/* Add these styles to control the hover and active states of icons */
.footer-icons a i:hover {
 color: var(--second-bg-color);
  /* color: white; */
}

.footer-icons a i:active {
  opacity: 0.7;
}


.filter-content{
  margin: 2rem 0 2.5rem;
  background-color: var(--bg-color);
  padding: .375rem;
  border-radius: .75rem;
  border: solid var(--main-color);
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
}

.filter-button{
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--second-bg-color);
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: .75rem;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;

}

.filter-button:hover{
  color: white;
  background-color: var(--main-color);

}

.active-tab {
  background-color: var(--main-color); /* Set the desired background color */
  color: white; /* Change the text color for better visibility */
}
.software-content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* To evenly distribute the cards */
}

.software-card{
  position: relative;
  
  border-radius: 1rem;
  overflow: hidden;
  flex: 1; /* Make the cards take up equal width */
  margin: 10px; /* Adjust the margin between the cards as needed */
  max-width: calc(33.33% - 20px); /* Adjust the maximum width of each card */
  box-sizing: border-box;


}

.software-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.software-modal{
  position: absolute;
  
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background:  linear-gradient(180deg, hsla(0, 24%, 40%, .3) 0%, 
  hsla(0, 24%, 4%, 1) 95%) ;
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: .3s;
}

.software-subtitle, .software-title{
  color: white;

}

.software-subtitle{
  font-size: 1.6rem;

}

.software-title{
  font-size: 2rem;
  margin-top: .5rem ;

}

.software-button{
  padding: .5rem;
}

.software-card:hover .software-modal{
  bottom: 0;
}




/* Design tab */

.design-content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}



.design-card{
  position: relative;
  
  border-radius: 1rem;
  overflow: hidden;
  /* flex: 1 1 calc(33.33% - 20px);  */
  margin: 10px; 
  height: 250px;
  width: 440px;

  /* max-width: calc(33.33% - 20px);  */
  box-sizing: border-box;


}

.design-card img{
  width: 100%;
  height: 100%;
  object-fit: inherit;
 
}

.design-modal{
  position: absolute;
  
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background:  linear-gradient(180deg, hsla(0, 24%, 40%, .3) 0%, 
  hsla(0, 24%, 4%, 1) 95%) ;
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: .3s;
}

.design-subtitle, .design-title{
  color: white;

}

.design-subtitle{
  font-size: 1.6rem;

}

.design-title{
  font-size: 2rem;
  margin-top: .5rem ;

}

.design-button{
  padding: .5rem;
}

.design-card:hover .design-modal{
  bottom: 0;
}




/* @media screen and (max-width: 600px) {
  .design-content-grid {
    grid-template-columns: 1fr;
  }
} */

.design-card {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}






.filter-sections [data-content]{
  display: none;
}





.filter-active[data-content]{
  display: block;
}


/* .filter-content [data-content] {
  display: none;
}

[data-content].filter-active {
  display: flex;
} */


/* CSS for bootstrap cards */

/* .courses-card{
  margin-left: 100px;
  margin-right: 100px;
} */
.card-img{
  object-fit: fill;
  height: 200px;
}
/* Test */

